<%- include('legoHeader'); %>
<div class="popupAlt">
    <div class="popupAlt-content">
        <form action="/minifiguren" method="post">
            <ul>
                <li>
                    <label for="aantal">Er zijn geen minifiguren meer </label>
                    <input min="1" max="10" type="number" name="aantal" id="aantal" value="">
                </li>
                <li>
                    <button type="submit" class="popupAltButton">Meer gaan toevoegen</button>
                </li>
        </ul>
        </form>
            
</div>
</div>
        <!--========== HOME ==========-->
        <section class="home" id="home">
            
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Lego Sets</h1>
                    <h2 class="home__subtitle">Kies je favoriet eruit om de sets te raadplegen!</h2>
                 </div>
    
                <img src="img/lego-2.svg" alt="" class="home__img">
            </div>
        </section>
        

        <!--========== FIGS ==========-->
        <div class="select">
            <a class="buy-2">Ordenen</a>
        </div>
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Collectie</span>
            <h2 class="section-title">Je kan kiezen uit de volgende figuren</h2>
            <!--========== Familiehouse ==========-->
            <div class="menu__container bd-grid">
                
               
                    <% for (let index = 0; index < resultaten.length; index++) {
                        %>
                        <div class="menu__content">
                            <img src= "<%= resultaten[index].set_img_url %>" alt="<%= resultaten[index].name %>" class="menu__img">
                            <h3 class="menu__name">
                                <%- '<strong>' + resultaten[index].name + '</strong><br/>' %>
                            </h3>
                            <span class="menu__detail">Dit minifiguur behoort tot de volgende sets:
                                <ul>
                                    <li class="setFoto">
                                    <%- '<strong>' + sets[index].name + '</strong>' %>
                                </li>
                                   
                                </ul>
                            </span>
                            <p>
                              
                            </p>
                            <span class="menu__preci">$50</span>
                            <button  id="set_button"class="set_button button2">
                                <a href="/minifiguren/<%= index %>" class="button">Set Kiezen</a></button>
                        </div>
                        <% } %>
            </div>  
        </section>
        

        
        <section class="startPaginaCounters">
            <div class="counterContainer">
                <div>
                    <div class="startPaginaCounter">
                        <%- '<strong>' + aantal + '</strong><br/>' %>
                    </div>
                    <h3>Nog te ordenen minifigs</h3>
                </div>
                <div>
                    
                    <div class="startPaginaCounter">
                        <%- '<strong>' + geordend + '</strong><br/>' %>
                    </div>
                    <h3>Aantal geordende minifiguren</h3>
                </div>
            </div>
        </section>
        <script src="js/setsPopup.js"></script>
        <script src="js/leegMinifigs.js"></script>
<%- include('legoFooter'); %>