<%- include('legoHeader'); %>

        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class=" bd-container bd-grid">
               
                <div class="home__data">
                    <% for (let i = 0; i < alleminifiguren.sets[alleminifiguren.paramsIndex].lengte; i++) {
                        %>
                        <form action="/minifiguren/<%= alleminifiguren.paramsIndex %>" method="post">
                    <h1 class="set_h1">
                        <ul>
                            <%- '<strong>' +  alleminifiguren.sets[alleminifiguren.paramsIndex].results[i].name+ '</strong>' %>
                           
                        </ul>
                       
                   </h1>
                   <button type='submit' class="button bevestiging">Dit set bevestigen</button>
                <img src="<%= alleminifiguren.sets[alleminifiguren.paramsIndex].results[i].set_img_url %>" alt="" class="set_img">
            </form>   
                <% } %>
                   
            </div>
                
                
            </div>
        </section>

        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    
                   
                 </div>
                
                 <img src="img/ClipartKey_2241852.png" alt="" class="home__img">
            </div>
        </section>
        
<!--===== APP =======-->

<script src="/js/startpaginaCounter.js"></script>


<%- include('legoFooter'); %>


